streamlit
langchain==0.2.1
langchain-groq==0.1.3
langchain-community==0.0.32
langchain-core==0.2.3
langchain-huggingface==0.0.3
chromadb==0.4.24
pypdf
sentence-transformers
pydantic==1.10.13  # <-- Crucial: Pinning to the last stable Pydantic v1 version
pysqlite3-binary   # <-- Keep this for the ChromaDB issue